<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>display</key>
		<string>@include accordion_btn_white</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include red_bkg</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include gray_box</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include red_box</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include white_bkg</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include list_item</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include accordion_plus</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include accordion_x</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include page_nav_g</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include page_nav_l</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include accordion_greaterthan</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include accordion_cont</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include red_button</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include mw_title</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include yellow_btn  </string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include pdp_grey_block</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include pdp_red</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include sub_title</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include checkout_yellow_btn</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include checkout_red_btn</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include checkout_white_btn</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include checkout_gray_border</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
	<dict>
		<key>display</key>
		<string>@include credit_card_red</string>
		<key>insert</key>
		<string>(${1:});</string>
	</dict>
</array>
</plist>
